{% extends 'myapp/base.html' %}

{% block content %}

    <div class="container">
        <section class="form-section">
            <h3>Add/Update Record</h3>
            <form id="recordForm" method="POST">
                {% csrf_token %}
                <fieldset>
                    {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        <div class="dj-form">
                           <div class="form-l">
                            {{ field.label_tag }}
                           </div >
                           <div class="form-f">
                            {{ field }}
                           </div>
        
                        </div>
                        
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <!-- <input class="btn-submit" type='submit' value="Submit"> -->

                    <div class="dj-form">
                        
                        <a style="text-decoration: none; text-align: center; color: black;" href="{% url 'home' %}" class="btn">Clear</a>
                        <input class="btn" type='submit' value="Submit">
                    </div>
                </fieldset>
            </form>
            
        </section>

        <section class="data-section">
            <h1>Most Influential People in Tech</h1>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Organization</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="people-data">
                    <!-- {% for i in people %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.role}}</td>
                        <td>{{i.organization}}</td>
                        <td >
                            <div class="actions">
                                <form action="{% url 'update-view' i.pk %}">
                                
                                    <button class="btn" name="update" type="submit" >Update
                                    </button>
                                </form>
    
                                <form method="POST" action="{% url 'delete-view' i.pk %}">
                                    {% csrf_token %}
                                    <button class="btn danger" type="submit" >Delete
    
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %} -->
                </tbody>
            </table>
        </section>

       <script>
           $(document).ready(function(){
               setInterval(function(){
                   $.ajax({
                       method:'POST',
                       url: "{% url 'people' %}",
                       data : {
                            csrfmiddlewaretoken: '{{csrf_token}}'
                       },
                       success:function(response){
                        //    console.log("Success get data");
                           $("#people-data").empty();
                           for(var i in response.peoples){
                            var temp = `<tr>
                                <td>${response.peoples[i].name}</td>
                                <td>${response.peoples[i].role}</td>
                        <td>${response.peoples[i].organization}</td>
                                <td>
                                    <div class="actions">
                                <form >
                                    {% csrf_token %}
                                    <button id="update" class="btn" name="update" type="button" 
                                    value=${response.peoples[i].pk} >Update
                                    </button>
                                </form>
    
                                <form >
                                    {% csrf_token %}
                                    <button id="delete" class="btn danger" type="button" value="${response.peoples[i].id}">Delete
    
                                    </button>
                                </form>
                            </div>
                            </td>
                            </tr>`;
                            $("#people-data").append(temp);
                        //        var temp = "<tr>"
                        // +"<td>"+response.peoples[i].name+"</td>"
                        // +"<td>"+response.peoples[i].role+"</td>"
                        // +"<td>"+response.peoples[i].organization+"</td>"
    
                        // +"</tr>";

                        // $("#people-data").append(temp);
                          }

                       },
                       error:function(){
                        //    console.log("An Error Occured");

                       },
                   });

               },2000);
           });

           $(document).on("submit","#recordForm",function(e){
               e.preventDefault();
               $.ajax({
                   method:"POST",
                   url: "{% url 'add-record' %}",
                   data:{
                        name : $('#id_name').val(),
                        birthday : $('#id_birthday').val(),
                        country : $('#id_country').val(),
                        organization : $('#id_organization').val(),
                        role : $('#id_role').val(),
                        csrfmiddlewaretoken: '{{ csrf_token}}',
                   },
                success: function(date){
                    // console.log('data successfully send');
                },
                error: function(){
                    console.log("something went wrong");
                },
               });

           });
        //    method for update record

        $(document).on("click","#update",function(e){
                var id = document.getElementById('update').value;
               e.preventDefault();
               $.ajax({
                    method:"POST",
                    url: "{% url 'update-view' pk=1 %}",
                    data: {
                        csrfmiddlewaretoken:'{{csrf_token}}',
                    },
                    success: function(){
                console.log("Success update call");
               },
                    error: function(){
                        console.log("error update call");
                    },

               });
               
           });

           // method for delete record

           $(document).on("click","#delete",function(e){
                // var id = document.getElementById('delete').value;
                // var val = $(this).val();
                // console.log(val= "+ val type= "+typeof(val));
               e.preventDefault();
               $.ajax({
                    method:"POST",
                    url: "{% url 'delete-view'  %}",
                    data: {
                        csrfmiddlewaretoken:'{{csrf_token}}',
                        pk :  $(this).val(),
                    },
                    success: function(){
                console.log("success: delete call");
               },
                    error: function(){
                        console.log("error: delete call");
                        
                    },

               });
               
           });
          
       </script>
        
            
       
    </div>
    
    
   

{% endblock %}