{% extends 'myapp/base.html' %}

{% block content %}

    <div class="container">
        
        <section class="form-section">
            <h3>Update Records</h3>
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    {% for field in u_form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        <div class="dj-form">
                           <div class="form-l">
                            {{ field.label_tag }}
                           </div >
                           <div class="form-f">
                            {{ field }}
                           </div>
        
                        </div>
                        
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="dj-form">
                        <form action="{% url 'home' %}">
                            {% csrf_token %}
                            <button class="btn" type="submit" >Back
    
                        </button>
                        <input class="btn" type='submit' value="Submit">
                    </div>
                    
                </fieldset>
            </form>
            
        </section>
    </div>
    
    
   

{% endblock %}